In [1]:
import pandas as pd
import numpy as np

In [9]:
dogdata = pd.read_csv("dogdata.csv")

In [3]:
dogdata.head()

      name    fur  height  age
0  abraham   long    26.0  6.0
1    teddy  short     NaN  8.0
2   barack  short    42.0  NaN
3   ronald  curly    39.0  7.0
4   george  curly     NaN  9.0

In [5]:
# Question 2: Handling missing values
# Try out your methods here
dogdata.dropna()

          name    fur  height  age
0      abraham   long    26.0  6.0
1        teddy  short     NaN  8.0
2       barack  short    42.0  0.0
3       ronald  curly    39.0  7.0
4       george  curly     NaN  9.0
5      clinton   long    47.0  8.0
6       delano   long    46.0  0.0
7     jennings   none     NaN  4.0
8    alexander   none    33.0  2.0
9       george  curly    37.0  5.0
10         jeb  short     NaN  0.0
11  eisenhower  short    35.0  3.0
12    fillmore  curly    32.0  1.0
13      grover  curly    28.0  2.0
14     herbert  curly    31.0  0.0
15    franklin   none    47.0  0.0
16       gonzo  short    35.0  6.0

In [11]:
dogdata = dogdata.fillna(value = {'fur':'none', 'height':0, 'age':0})

          name    fur  height  age
0      abraham   long    26.0  6.0
1        teddy  short     0.0  8.0
2       barack  short    42.0  0.0
3       ronald  curly    39.0  7.0
4       george  curly     0.0  9.0
5      clinton   long    47.0  8.0
6       delano   long    46.0  0.0
7     jennings   none     0.0  4.0
8    alexander   none    33.0  2.0
9       george  curly    37.0  5.0
10         jeb  short     0.0  0.0
11  eisenhower  short    35.0  3.0
12    fillmore  curly    32.0  1.0
13      grover  curly    28.0  2.0
14     herbert  curly    31.0  0.0
15    franklin   none    47.0  0.0
16       gonzo  short    35.0  6.0

In [15]:
# Question 3: Counting categorical data
# Test code here
mast_common = dogdata['fur'].value_counts().idxmax()

'curly'

In [18]:
dogdata.groupby('name').size()

name
abraham       1
alexander     1
barack        1
clinton       1
delano        1
eisenhower    1
fillmore      1
franklin      1
george        2
gonzo         1
grover        1
herbert       1
jeb           1
jennings      1
ronald        1
teddy         1
dtype: int64

In [19]:
dogdata['name'].value_counts()

george        2
teddy         1
gonzo         1
fillmore      1
clinton       1
alexander     1
delano        1
jennings      1
jeb           1
barack        1
herbert       1
eisenhower    1
franklin      1
grover        1
ronald        1
abraham       1
Name: name, dtype: int64

In [29]:
# Question 4: Filtering and grouping data
criterion = dogdata['fur'].map(lambda x: x == 'short')
heights = dogdata[criterion]
heights['height'].mean()

37.333333333333336

In [30]:
dogdata.groupby('fur').height.mean()

fur
curly    33.400000
long     39.666667
short    37.333333
Name: height, dtype: float64

In [ ]:
# Question 5: Pudgy puppies

In [ ]:
# Question 6: Vectorizing Code
clifford_data = pd.read_csv("bigdogdata.csv")

In [ ]:
# Our example of non-vectorized code
fursums = {"curly": 0, "short": 0, "long": 0}
furcounts = {"curly": 0, "short": 0, "long": 0}

for name, fur, height, age in clifford_data.values:
    if len(name) > 5:
        fursums[fur] += height
        furcounts[fur] += 1

print([i + ": " + str(fursums[i]/furcounts[i]) for i in fursums.keys()])

In [ ]:
# Your code here!